# Descriptive Statistics with `Python` Exercises

This is the second exercise for this course module. 
Like the prior exercise, all of the concepts in the exercise will be familiar in the sense that it will mirror the concepts that we learned throughout the labs and practices. 

There could be multiple ways to solve a single answer, some more elegant than others. 
Revisit older notebooks for guidance, ask questions along the way, 
and **we encourage you to search the internet**. 
Chances are that someone has had the same/similar question / error to the one you have.

For this exercise, we will be working with the `NationalNames3.csv`. Again, this is in the `/dsa/data/all_datasets/baby-names/` directory.

**Exercise 1**: *Read in the `NationalNames3.csv` file and name it `df`.*

In [30]:
# Exercise 1 code goes here
# -------------------------
import pandas as pd

df = pd.read_csv('/dsa/data/all_datasets/baby-names/NationalNames3.csv')

df.head()

   Id    Name  Year Gender  Count
0   1    Mary  1880      F   7065
1   5  Minnie  1880      F   1746
2   7     Ida  1880      F   1472
3   9  Bertha  1880      F   1320
4  15    Cora  1880      F   1045

We will start out simple.

**Exercise 2**: Find the mean of the `Count` column and how spread out is the data?

In [37]:
# Exercise 2 code goes here
# -------------------------
import numpy as np
print(np.mean(df.Count))
print(np.std(df.Count))

181.71348937247797
1535.8090963652944

**Exercise 3:** Find the minimum, first quartile, median, third quartile and max count of the name "Sam" in this dataset.

In [23]:
# Exercise 3 code goes here
# -------------------------
df[df['Name'] == 'Sam'].describe()
#min = 5, 1Q = 16.25, 2Q/Med = 482, 3Q = 1071, max = 2505

                 Id         Year        Count
count  8.600000e+01    86.000000    86.000000
mean   4.756664e+05  1942.837209   608.581395
std    4.163065e+05    32.879409   661.426755
min    9.351000e+03  1884.000000     5.000000
25%    1.663595e+05  1919.250000    16.250000
50%    3.882005e+05  1942.000000   482.000000
75%    6.320052e+05  1964.250000  1071.000000
max    1.778931e+06  2013.000000  2505.000000

**Challenge Exercise 1**: On average (use the median), are there more female names per year or male names? Remember, you will have to add the names per year per gender.

In [49]:
# Challenge Exercise 1 code goes here
# -----------------------------------
fem = df[df['Gender'] == 'F']
male = df[df['Gender'] == 'M']

print(np.median(fem.groupby('Year')['Name'].count()))
print(np.median(male.groupby('Year')['Name'].count()))
#More female names than male names by median per year

2007.0
1516.0

**Exercise 4**: For the name "Margaret" over the years, 65% is equal or below what Count?

In [25]:
# Exercise 4 code goes here
# -------------------------
dfmags = df[df['Name'] == 'Margaret']

print(np.percentile(dfmags.Count, 65))

3256.4000000000005

**Exercise 5**: Find the covariance and correlation between the Year and Count of the name "Addison".

In [56]:
# Exercise 5 code goes here
# -------------------------
print(df.Year.cov(df.Count[df['Name'] == 'Addison']))
print(df.Year.corr(df.Count[df['Name'] == 'Addison']))

48944.459016393455
0.4259311439218686

**Challenge Exercise 2**: Does accounting for Gender affect the strength of the linear relationship with regards to Exercise 5? Does one gender have a stronger linear relationship than the other?

In [55]:
# Challenge Exercise 2 code goes here
# -----------------------------------
print(df.Year.corr(df.Count[(df['Name'] == 'Addison') & (df['Gender'] == 'F')]))
print(df.Year.corr(df.Count[(df['Name'] == 'Addison') & (df['Gender'] == 'M')]))
#Yes, Addison has a stronger linear association with Year in Females

0.8318457439323934
0.6712916451351595

# Save your notebook, then `File > Close and Halt`